* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.row {
    width:100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
}
.column.one-third {
    width: calc(calc(100% / 3));
}
.column.one-half {
    width: calc(50%);
}
.column.one-fourth{
    width: calc(25%);
}
.column.one-eighth{
    width: calc(12.5%);
}
.column.one-sixth {
    width: calc(16.66%);
}

@media screen and (max-width: 768px) {
    .column.one-third,
    .column.one-half {
        width: 100%;
    }
}